body{
    overflow: initial;
}

.banner {
    background-color: #333334;
    width: 100%;
    height: 50%;
}

.banner .container .blc-layer2-main h1{
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
    display: grid;
    width: 10%;
    font-size: 46px;
    font-family:  Verdana;
    color:Window;
}

.banner .container .blc-layer2-main h5 {
    margin-top: 18%;
    margin-left: 5%;
    position: absolute;
    font-size: 16px;
    font-family: Verdana;
    color: lightgray;
}

.btn {
    display: flex;
    margin-top: 10%;
    position: relative;
    margin-left: 60%;
    width: 35%;
    background-color: #DC3545;
    color: Window;
    border: groove;
    height: 50px;
}

.footer {
    background-color: black;
    height: 30%;
    margin-top: 20%;
}